<nav>
  <ul>
    
    <li>
      <a href="">
        <figure>
          <i class="far fa-calendar-alt"></i>
          <img src="" alt="">
        </figure>
        <span>Time</span>
      </a>
    </li>
    <li>
      <a href="">
          <figure>
            <i class="fas fa-tasks"></i> 
            <img src="" alt="">
          </figure>
          <span>Expense</span>
        </a>
      </li>
      <li>
        <a href="">
            <figure>
              <i class="fas fa-map-marker-alt"></i>
              <img src="" alt="">
            </figure>
            <span>Locations</span>
          </a>
      </li>
      <li>
          <a href="">
              <figure>
                <i class="fas fa-cogs"></i>
                <img src="" alt="">
              </figure>
              <span>Other Actions</span>
            </a>
      </li>
  </ul>
</nav>
