<nav class="menuLateral">
  <ul>
    
    <li>
      <a href="">
        <figure>
          <img src="" alt="">
        </figure>
        <span>Time</span>
      </a>
    </li>

    <li>
      <a href="">
        <figure>
          <img src="" alt="">
        </figure>
        <span>Expense</span>
      </a>
    </li>

    <li>
      <a href="">
        <figure>
          <img src="" alt="">
        </figure>
        <span>Locations</span>
      </a>
    </li>

    <li>
      <a href="">
        <figure>
          <img src="" alt="">
        </figure>
        <span>Other actions</span>
      </a>
    </li>
  </ul>
</nav>
